# Repo Folders
secrets/
**/clusterconfig

# SOPS Temp Files
**/*.sops_tmp.*

# Kubernetes
kubeconfig

# Helm Charts for Talos Bootstrap
**/kubernetes/bootstrap/cilium/charts
**/kubernetes/bootstrap/csr-approver/charts
